body {
	background-color: #003D7F;
}


.jumbotron {
	background-color: #BFDDFF;
	font-family: Copperplate, Verdana;
	color: #0079FF;
}

.panel-heading {
	font-family: Copperplate, Verdana;
	color: #0061CC;
}

.panel-body {
	font-family: Copperplate, Verdana;
	color: #0061CC;
}

.page-header {
	background-color: #BFDDFF;
	font-family: Copperplate, Verdana;
	color: #0079FF;
}

.panel-title {
	font-family: Copperplate, Verdana;
	color: #0061CC;
}

.list-group {
	background-color: #BFDDFF;
	font-family: Copperplate, Verdana;
	color: #0079FF;
}

.table-responsive {
	background-color: #BFDDFF;
	font-family: Copperplate, Verdana;
	color: #0079FF;
}

#email {
	width: 70%;
	margin: auto;
	color: #0079FF;
}

.input-label {
	font-family: Copperplate, Verdana;
	color: white;
}

a {
	font-family: Copperplate, Verdana;
	color: #7F680D;
}