{% extends "bootstrap/base.html" %}
{% block title %} SkillsConnect {% endblock %}
{% block head %}
{{ super() }}
  <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA/4QAAFxWUAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMzMxEREREREyIhERAAABETIBERECEQERMhEREQIRERExERERAhERERERERECERERERMzMwIRERERExEjAhERERERESMCEQERERERIwAAAREREzMzERERERETIRERERETERMhERERESMREyETEREQIxETMzMRESIjERERERETMzMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />
{% endblock %}
{% block styles %}
{{ super() }}
  <link href="theme.css" rel="stylesheet">
{% endblock %}


{% block content %}
<!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">SkillsConnect</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/users">UserSearch</a></li>
            <li><a href="/skills">SkillSearch</a></li>
            <li><a href="/projects">Projects</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

   {% block stuff %}
    <div class="container theme-showcase" role="main">
      <br /><br /><br />
      <div class="jumbotron">
        <h1>This is what this does...</h1>
        <p>Ever needed help with a project? Welcome to SkillsConnect! Here you can search for someone to help you complete a project by searching through the navigation bar above. Search by User or Skill and contact the tutor of your dreams! Happy Searching!</p>
      </div>

      <div class="panel panel-info col-md-6">
        <div class="panel-heading">
          <a href="/skills"><h3 class="panel-title">User Search</h3></a>
        </div>
        <div class="panel-body">
          Want to see if your tutor has the right skills?  Want to see if your project partner has the skills you need?  If so, then this is your service.  User search will let you search our database by name to find information on anyone you need.
        </div>
      </div>
      <div class="panel panel-info col-md-6">
        <div class="panel-heading">
          <a href="/skills"><h3 class="panel-title">Skill Search</h3></a>
        </div>
        <div class="panel-body">
          If you're looking for someone to help you out with a project, this is the search for you.  Fill the gaps in your team by looking for people with the skills you need. Once you've found your team, view their profile to find out how to get in contact.
        </div>
      </div>

    </div> 
    {% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script> {% endblock %}
