{% extends "main.html" %}

{% block stuff %}
<div class="container theme-showcase" role="main">
  <div class="page-header">
    <h1><br />{{project[1]}}</h1>
  </div>

  <div class="panel panel-info col-md-4">
    <div class="panel-heading">
      <h3 class="panel-title">Project ID</h3>
    </div>
    <div class="panel-body">
      {{project[0]}}    
    </div>
  </div>

  <div class="panel panel-info col-md-4">
    <div class="panel-heading">
      <h3 class="panel-title">Project Due Date</h3>
    </div>
    <div class="panel-body">
      {{project[3]}}    
    </div>
  </div>

  <div class="col-md-4">
    <div class="list-group">
      <a href="#" class="list-group-item active">
        Contributors
      </a>
      {% for c in project[4] %}
      <a href="/users/{{c[0]}}" class="list-group-item">{{c[1].title()}} {{c[2].title()}} <img src="/static/arrow2.png" height="20px" width="20px"></a>
      {% endfor %}
      <a href="mailto:{% for c in project[4] %}{{c[3]}},{% endfor %}" target = "_blank" class="list-group-item" id="email">Email all contributors</a>
    </div>
  </div>

  <div class="panel panel-info col-md-12">
    <div class="panel-heading">
      <h3 class="panel-title">Project Description</h3>
    </div>
    <div class="panel-body">
      {{project[2]}} <br>
      Skills Used: 
      {% for s in project[5] %}
      {{s.title()}} |
      {% endfor %}    
    </div>
  </div>
  <div class="panel-heading">
      <h3 class="panel-title">Completion Status: {{complete}}%</h3>
  </div>
  <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow='{{complete}}' aria-valuemin="0" aria-valuemax="100" style="width: {{complete}}%;"><span class="sr-only">{{complete}} Complete</span></div>
    </div>
  </div>
</div>
{% endblock %}